/* App.css */

body {
  font-family: "Arial", sans-serif;
  background-color: #e9ecef;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

fieldset {
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  color: #495057;
}

label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #495057;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

.btn {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 48%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.center {
  margin-top: 20px;
}

h3 {
  color: #333;
}

p {
  color: #495057;
  font-size: 1.1rem;
}

.Toastify__toast--default {
  background-color: #007bff;
  color: white;
}

.Toastify__toast--info {
  background-color: #17a2b8;
}

.Toastify__toast--success {
  background-color: #28a745;
}

.Toastify__toast--warning {
  background-color: #ffc107;
}

.Toastify__toast--error {
  background-color: #dc3545;
}
